Repository CodeEditApp/CodeEdit, pull requests merged in 2022-06, with the labels that each got.

#620 Add Temporary Tab
  CodeEdit.xcodeproj/project.pbxproj
  CodeEdit/Documents/CodeEditWindowController.swift
  CodeEdit/Documents/WorkspaceDocument+Selection.swift
  CodeEdit/Documents/WorkspaceDocument.swift
  CodeEdit/NavigatorSidebar/ProjectNavigator/OutlineView/OutlineViewController.swift
  CodeEdit/TabBar/TabBar.swift
  CodeEdit/TabBar/TabBarItem.swift
  CodeEdit/TabBar/TabBarItemButtonStyle.swift
  CodeEditModules/Modules/CodeFile/src/CodeEditor.swift
Labels: UI, tabs, WIP

#660 [chore]: refactor crypto string extensions (md5/sha256)
  CodeEdit.xcodeproj/project.pbxproj
  CodeEdit.xcworkspace/xcshareddata/swiftpm/Package.resolved
  CodeEdit/Documents/WorkspaceDocument.swift
  CodeEdit/Extensions/String+SHA256.swift
  CodeEdit/Info.plist
  CodeEdit/InspectorSidebar/Views/Popover/PopoverView.swift
  CodeEditModules/Modules/CodeEditUtils/src/Extensions/String+MD5.swift
  CodeEditModules/Modules/CodeEditUtils/src/Extensions/String/String+MD5.swift
  CodeEditModules/Modules/CodeEditUtils/src/Extensions/String/String+RemoveOccurrences.swift
  CodeEditModules/Modules/CodeEditUtils/src/Extensions/String/String+SHA256.swift
  Package.resolved
Labels: documentation

#662 New Editor (powered by tree-sitter)
  CodeEdit.xcodeproj/xcshareddata/xcschemes/CodeEdit.xcscheme
  CodeEdit.xcworkspace/xcshareddata/swiftpm/Package.resolved
  CodeEdit/Info.plist
  CodeEditModules/Modules/AppPreferences/src/Model/Text Editing/TextEditingPreferences.swift
  CodeEditModules/Modules/AppPreferences/src/Sections/ThemePreferences/Model/Theme.swift
  CodeEditModules/Modules/CodeFile/src/CodeEditor.swift
  CodeEditModules/Modules/CodeFile/src/CodeFileView.swift
  CodeEditModules/Modules/CodeFile/src/LineGutter/LineGutter.swift
  CodeEditModules/Modules/CodeFile/src/Model/CodeLanguage.swift
  CodeEditModules/Modules/CodeFile/src/Model/HighlightrLanguage.swift
  CodeEditModules/Modules/CodeFile/src/TextView/CodeEditorTextView.swift
  CodeEditModules/Package.swift
  Package.resolved
Labels: enhancement, editor

#655 Implement Delete, Create File, Create Folder for the right click menu in ProjectNavigator
  CodeEdit/NavigatorSidebar/NavigatorSidebarToolbarBottom.swift
  CodeEdit/NavigatorSidebar/ProjectNavigator/OutlineView/OutlineMenu.swift
  CodeEdit/NavigatorSidebar/ProjectNavigator/OutlineView/OutlineTableViewCell.swift
  CodeEdit/NavigatorSidebar/ProjectNavigator/OutlineView/OutlineViewController.swift
  CodeEditModules/Modules/WorkspaceClient/src/Interface.swift
  CodeEditModules/Modules/WorkspaceClient/src/Live.swift
  CodeEditModules/Modules/WorkspaceClient/src/Model/FileItem.swift
Labels: enhancement, navigator
