Repository CodeEditApp/CodeEdit, pull requests merged in 2024-10, with the labels that each got.

#1892 EditorManager Always Opens Files
  CodeEdit/Features/Editor/Models/Editor+History.swift
  CodeEdit/Features/Editor/Models/Editor+TabSwitch.swift
  CodeEdit/Features/Editor/Models/Editor.swift
  CodeEdit/Features/Editor/Models/EditorLayout+StateRestoration.swift
  CodeEdit/Features/Editor/TabBar/Tabs/Tab/EditorTabView.swift
  CodeEdit/Features/Editor/TabBar/Views/EditorHistoryMenus.swift
  CodeEdit/Features/Editor/Views/EditorAreaView.swift
Labels: bug, workspace

#1896 Project navigator file filtering
  CodeEdit/Features/Documents/WorkspaceDocument/WorkspaceDocument.swift
  CodeEdit/Features/NavigatorArea/OutlineView/FileSystemTableViewCell.swift
  CodeEdit/Features/NavigatorArea/OutlineView/StandardTableViewCell.swift
  CodeEdit/Features/NavigatorArea/ProjectNavigator/OutlineView/ProjectNavigatorOutlineView.swift
  CodeEdit/Features/NavigatorArea/ProjectNavigator/OutlineView/ProjectNavigatorTableViewCell.swift
  CodeEdit/Features/NavigatorArea/ProjectNavigator/OutlineView/ProjectNavigatorViewController+NSOutlineViewDataSource.swift
  CodeEdit/Features/NavigatorArea/ProjectNavigator/OutlineView/ProjectNavigatorViewController+NSOutlineViewDelegate.swift
  CodeEdit/Features/NavigatorArea/ProjectNavigator/OutlineView/ProjectNavigatorViewController.swift
  CodeEdit/Features/NavigatorArea/ProjectNavigator/ProjectNavigatorToolbarBottom.swift
Labels: enhancement, navigator

#1887 LSP Document Content Sync
  CodeEdit.xcodeproj/project.pbxproj
  CodeEdit.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  CodeEdit/Features/Documents/CodeFileDocument/CodeFileDocument.swift
  CodeEdit/Features/Editor/Views/CodeFileView.swift
  CodeEdit/Features/Extensions/ExtensionDiscovery.swift
  CodeEdit/Features/LSP/LanguageServer/Capabilities/LanguageServer+DocumentSync.swift
  CodeEdit/Features/LSP/LanguageServer/LSPContentCoordinator.swift
  CodeEdit/Features/NavigatorArea/ProjectNavigator/OutlineView/ProjectNavigatorViewController+NSOutlineViewDelegate.swift
  CodeEdit/Features/StatusBar/Views/StatusBarItems/StatusBarCursorPositionLabel.swift
  CodeEdit/Features/StatusBar/Views/StatusBarView.swift
  CodeEdit/Features/UtilityArea/TerminalUtility/UtilityAreaTerminalView.swift
  CodeEdit/Utils/Extensions/LanguageIdentifier/LanguageIdentifier+CodeLanguage.swift
  CodeEdit/Utils/Extensions/TextView/TextView+LSPRange.swift
  CodeEditTests/Features/LSP/LanguageServer+DocumentTests.swift
Labels: language server
