Repository CodeEditApp/CodeEdit, pull requests merged in 2024-06, with the labels that each got.

#1740 Use Single Text Storage For Documents
  CodeEdit.xcodeproj/project.pbxproj
  CodeEdit.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  CodeEdit/Features/Documents/CodeFileDocument.swift
  CodeEdit/Features/Documents/FileEncoding.swift
  CodeEdit/Features/Editor/Models/EditorInstance.swift
  CodeEdit/Features/Editor/Views/CodeFileView.swift
  CodeEdit/Utils/Extensions/NSTextStorage/NSTextStorage+isEmpty.swift
  CodeEditTests/Features/CodeFile/CodeFileTests.swift
Labels: source editor

#1753 Stop Modifying User's RC Files
  CodeEdit.xcodeproj/project.pbxproj
  CodeEdit/Features/Settings/Pages/TerminalSettings/Models/TerminalSettings.swift
  CodeEdit/Features/Settings/Pages/TerminalSettings/TerminalSettingsView.swift
  CodeEdit/Features/TerminalEmulator/Model/CurrentUser.swift
  CodeEdit/Features/TerminalEmulator/Model/Shell.swift
  CodeEdit/Features/TerminalEmulator/Model/ShellIntegration.swift
  CodeEdit/Features/TerminalEmulator/Views/TerminalEmulatorView+Coordinator.swift
  CodeEdit/Features/TerminalEmulator/Views/TerminalEmulatorView.swift
  CodeEdit/Features/TerminalEmulator/codeedit_shell_integration_login.zsh
  CodeEdit/ShellIntegration/codeedit_shell_integration.bash
  CodeEdit/ShellIntegration/codeedit_shell_integration.zsh
  CodeEdit/ShellIntegration/codeedit_shell_integration_env.zsh
  CodeEdit/ShellIntegration/codeedit_shell_integration_profile.zsh
  CodeEdit/ShellIntegration/codeedit_shell_integration_rc.zsh
  CodeEditTests/Features/TerminalEmulator/ShellIntegrationTests.swift
Labels: terminal

#1737 Clean Up Code
  .swiftlint.yml
  CodeEdit.xcodeproj/project.pbxproj
  CodeEdit.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  CodeEdit.xcodeproj/xcshareddata/xcschemes/CodeEdit.xcscheme
  CodeEdit/AppDelegate.swift
  CodeEdit/CodeEditApp.swift
  CodeEdit/Features/About/Acknowledgements/ViewModels/AcknowledgementsViewModel.swift
  CodeEdit/Features/About/Acknowledgements/Views/AcknowledgementRowView.swift
  CodeEdit/Features/About/Acknowledgements/Views/AcknowledgementsView.swift
  CodeEdit/Features/About/Acknowledgements/Views/AcknowledgementsWindowController.swift
  CodeEdit/Features/About/Acknowledgements/Views/ParsePackagesResolved.swift
  CodeEdit/Features/About/Contributors/ContributorRowView.swift
  CodeEdit/Features/About/Contributors/ContributorsView.swift
  CodeEdit/Features/About/Contributors/Model/Contributor.swift
  CodeEdit/Features/CEWorkspace/Models/CEWorkspaceSettingsData+ProjectSettings.swift
  CodeEdit/Features/CEWorkspace/Models/CEWorkspaceSettingsData+TasksSettings.swift
  CodeEdit/Features/CodeEditUI/Views/EffectView.swift
  CodeEdit/Features/CodeEditUI/Views/KeyValueTable.swift
  CodeEdit/Features/CodeEditUI/Views/PaneTextField.swift
  CodeEdit/Features/CodeEditUI/Views/SearchPanel.swift
  CodeEdit/Features/CodeEditUI/Views/SearchPanelView.swift
  CodeEdit/Features/CodeEditUI/Views/SegmentedControlImproved.swift
  CodeEdit/Features/Commands/ViewModels/QuickActionsViewModel.swift
  CodeEdit/Features/Documents/CodeFileDocument.swift
  CodeEdit/Features/Documents/Controllers/CodeEditDocumentController.swift
  CodeEdit/Features/Documents/LazyStringLoader.swift
  CodeEdit/Features/Documents/WorkspaceDocument+Find.swift
  CodeEdit/Features/Documents/WorkspaceDocument.swift
  CodeEdit/Features/Editor/Models/Editor+TabSwitch.swift
  CodeEdit/Features/Editor/Models/EditorManager.swift
  CodeEdit/Features/Editor/PathBar/Views/EditorPathBarMenu.swift
  CodeEdit/Features/Editor/TabBar/Views/EditorTabBarLeadingAccessories.swift
  CodeEdit/Features/Editor/Views/CodeFileView.swift
  CodeEdit/Features/Extensions/ExtensionSceneView.swift
  CodeEdit/Features/Git/Accounts/GitHub/GitHubConfiguration.swift
  CodeEdit/Features/Git/Accounts/Networking/GitJSONPostRouter.swift
  CodeEdit/Features/Git/SourceControlManager.swift
  CodeEdit/Features/NavigatorArea/SourceControlNavigator/Repository/Views/SourceControlNavigatorRepositoryView.swift
  CodeEdit/Features/QuickOpen/Views/NSTableViewWrapper.swift
  CodeEdit/Features/Settings/Models/Settings.swift
  CodeEdit/Features/Settings/Models/SettingsSidebarFix.swift
  CodeEdit/Features/Settings/Pages/AccountsSettings/AccountsSettingsDetailsView.swift
  CodeEdit/Features/Settings/Pages/AccountsSettings/Models/AccountsSettings.swift
  CodeEdit/Features/Settings/Pages/TextEditingSettings/TextEditingSettingsView.swift
  CodeEdit/Features/Settings/SettingsView.swift
  CodeEdit/Features/Settings/Views/SettingsForm.swift
  CodeEdit/Features/TerminalEmulator/Views/TerminalEmulatorView.swift
  CodeEdit/Features/Welcome/Views/RecentProjectItem.swift
  CodeEdit/Features/Welcome/Views/RecentProjectsListView.swift
  CodeEdit/Utils/KeyChain/CodeEditKeychain.swift
  CodeEdit/Utils/ShellClient/Models/ShellClient.swift
  CodeEditTests/Utils/CEWorkspaceFileManager/CEWorkspaceFileManagerTests.swift
  OpenWithCodeEdit/Info.plist
Labels: chore

#1776 Activity View Resize, Inspector Toggle, Window Consistency
  CodeEdit.xcodeproj/xcshareddata/xcschemes/CodeEdit.xcscheme
  CodeEdit/Features/ActivityViewer/ActivityViewer.swift
  CodeEdit/Features/Documents/Controllers/CodeEditSplitViewController.swift
  CodeEdit/Features/Documents/Controllers/CodeEditWindowController+Toolbar.swift
  CodeEdit/Features/Documents/Controllers/CodeEditWindowController.swift
  CodeEdit/Features/Documents/Controllers/CodeEditWindowControllerExtensions.swift
  CodeEdit/Features/Documents/WorkspaceDocument.swift
  CodeEdit/Features/InspectorArea/Views/InspectorAreaView.swift
  CodeEditTests/Features/Documents/DocumentsUnitTests.swift
  CodeEditTests/Features/Documents/Mocks/NSHapticFeedbackPerformerMock.swift
Labels: navigator, inspector, workspace
