Repository CodeEditApp/CodeEdit, pull requests merged in 2025-05, with the labels that each got.

#1985 Language Server Syntax Highlights
  CodeEdit/Features/Documents/CodeFileDocument/CodeFileDocument.swift
  CodeEdit/Features/Editor/Views/CodeFileView.swift
  CodeEdit/Features/LSP/Features/DocumentSync/LSPContentCoordinator.swift
  CodeEdit/Features/LSP/Features/SemanticTokens/SemanticTokenHighlightProvider.swift
  CodeEdit/Features/LSP/Features/SemanticTokens/SemanticTokenMap.swift
  CodeEdit/Features/LSP/Features/SemanticTokens/SemanticTokenMapRangeProvider.swift
  CodeEdit/Features/LSP/Features/SemanticTokens/SemanticTokenStorage/GenericSemanticTokenStorage.swift
  CodeEdit/Features/LSP/Features/SemanticTokens/SemanticTokenStorage/SemanticTokenRange.swift
  CodeEdit/Features/LSP/Features/SemanticTokens/SemanticTokenStorage/SemanticTokenStorage.swift
  CodeEdit/Features/LSP/LanguageServer/Capabilities/LanguageServer+DocumentSync.swift
  CodeEdit/Features/LSP/LanguageServer/Capabilities/LanguageServer+SemanticTokens.swift
  CodeEdit/Features/LSP/LanguageServer/LanguageServer.swift
  CodeEdit/Features/LSP/LanguageServer/LanguageServerFileMap.swift
  CodeEdit/Features/LSP/LanguageServerDocument.swift
  CodeEdit/Features/LSP/Service/LSPService.swift
  CodeEdit/Features/LSP/Service/LSPServiceError.swift
  CodeEdit/Utils/Extensions/SemanticToken/SemanticToken+Position.swift
  CodeEdit/Utils/Extensions/TextView/TextView+SemanticTokenRangeProvider.swift
  CodeEdit/Utils/Extensions/URL/URL+LSPURI.swift
  CodeEditTests/Features/LSP/LanguageServer+CodeFileDocument.swift
  CodeEditTests/Features/LSP/LanguageServer+DocumentObjects.swift
  CodeEditTests/Features/LSP/SemanticTokens/SemanticTokenMapTests.swift
  CodeEditTests/Features/LSP/SemanticTokens/SemanticTokenStorageTests.swift
Labels: enhancement, language server

#2018 Fix Find Navigator resizing delay, use line height from user settings
  CodeEdit/Features/NavigatorArea/FindNavigator/FindNavigatorResultList/FindNavigatorListViewController.swift
Labels: bug, enhancement, UI, navigator, find

#2050 [chore:] Update CodeEditSourceEditor to 0.13.2
  CodeEdit.xcodeproj/project.pbxproj
  CodeEdit.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: chore
